.hero {
    margin-top: 70px;
}

.hero-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-title {
    font-size: 36px;
    color: rgb(248, 245, 245);
}

.hero-line {
    font-size: 36px;
    color: rgb(243, 246, 250);
}

.hero-text {
    font-size: 18px;
    margin-top: 20px;
    color: white;
}

.hero-input {
    padding: 6px 70px 6px 8px;
    margin-bottom: 30px;
    margin-right: 25px;
    border-radius: 8px;
}

.hero-buttom {
    border: none;
    background-color: rgb(61, 6, 170);
    color: white;
    padding: 8px 24px 8px 24px;
    border-radius: 8px;
}

.hero-buttom:hover {
    transition-duration: 1s;
    color: rgb(61, 6, 170);
    background-color: rgb(226, 236, 229);
}

.hero-box {
    position: absolute;
    width: 1200px;
    height: 450px;
    background-color: rgba(255, 255, 255, 0);
    margin-top: 40px;
    overflow: hidden;
    overflow-y: scroll;
}

.hero-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
}

.hero-item {
    width: 280px;
    height: 370px;
    background-color: rgb(245, 239, 239);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.item-title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.item-text {
    font-size: 14px;
    padding: 15px 0px;
    text-align: center;
    margin: 0 auto;
}

.item-image {
    display: block;
    width: 250px;
    height: 230px;
    padding: 10px 0px;
    margin: 0 auto;
}

.item-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.item-del {
    border: none;
    width: 100px;
    padding: 7px 0px;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    border: 2px solid red;
}

.item-del:active {
    background-color: rgba(254, 255, 255, 0.224);
    border: 2px solid red;
    color: red;
}

.item-read {
    border: none;
    width: 100px;
    padding: 7px 0px;
    background-color: rgb(63, 34, 212);
    color: white;
    font-weight: bold;
    border-radius: 8px;
    border: 2px solid rgb(63, 34, 212);
}

.item-read:active {
    background-color: rgba(254, 255, 255, 0.224);
    border: 2px solid  rgb(63, 34, 212);
    color:  rgb(63, 34, 212);
}